<div class="container" style="margin: 100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva novedad</h4>
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3 row">
                    <label for="">Titulo</label>
                    <input type="text" class="form-control-lg" name="titulo" value="{{novedad.titulo}}"> 
                </div>
                <div class="mb-3 row">
                    <label for="">Subtitulo</label>
                    <input type="text" class="form-control-lg" name="subtitulo" value="{{novedad.subtitulo}}"> 
                </div>    
                <div>
                    <textarea name="cuerpo" class="form-control-lg" type="text">{{novedad.cuerpo}}</textarea>
                </div>
                    
        </div>
            <button type="submit" class="btn btn-secondary">Modificar</button>
        </form>

        {{#if error}}
            <p>{{message}}</p>
        {{/if}}
        
    </div>
</div>